:root {
    --blue-opaco: rgba(0, 0, 31, 0.7);
    --blue: #00001f;
    --yellow: #ffec37;
    --height-header: 80px;
    --o: #1e0742;
}

main {
	min-height: 100vh;
}

a {
	color: inherit;
}

footer {
	background-color: var(--o);
}

p {
	font-size: clamp(20px, 2vw, 24px) !important;
	margin: 0 !important;
}

th {
	font-size: clamp(20px, 2vw, 24px) !important;
}

td {
	font-size: clamp(20px, 2vw, 24px) !important;
}


.footer-list {
	display: flex;
	list-style: none;
	margin-bottom: 0px;

}

.footer-item {
	color: #fff;
	margin-inline: 10px;
	font-size: 20px;
	transition: transform 0.3s, opacity 0.3s;
}

.footer-link i {
	transition: color 0.5s;
}

.footer-link:hover i.fa-facebook-f {
	color: #3b5998;
}

.footer-link:hover i.fa-twitter {
	color: #1da1f2;
}

.footer-link:hover i.fa-google-plus-g {
	color: #dd4b39;
}

.footer-link:hover i.fa-youtube {
	color: #dd4b39;
}

.footer-link:hover i.fa-linkedin-in {
	color: #0077b5;
}

/******************** ALERT ************************/

.alert {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) !important;
	background-color: var(--o);
	border: 2px solid white;
	color: white;
	padding: 14px 20px;
	margin: 10px 0;
	border-radius: 18px;
	z-index: 99999;
}
.alert p{
	margin: 0;
	font-size: clamp(22px, 2vw, 32px);
}

.alert.show {
	display: flex !important;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#reset-alert-btn {
	margin: 32px;
	font-size: clamp(26px, 2.3vw, 36px);
	font-weight: bold;
	width: 170px;
	color: var(--blue);
	border: 3px solid var(--yellow);
	border-radius: 18px;
	background-color: var(--yellow);
}

#reset-alert-btn:focus {
	outline: none !important;
	box-shadow: none;
}

#reset-alert-btn:hover {
	background-color: #fff273;
}

main.blur {
	filter: blur(3px);
	pointer-events: none;
}

footer.blur {
	filter: blur(3px);
	pointer-events: none;
}
.timer
{
	padding-top: 6px;
	padding-bottom: 6px;
}
.timer .textSide {
	padding-left: 5px;
	padding-right: 5px;
}

@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
	}
}
